/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/


#gallery img { height: 200px; margin: 5px;}
#captions {display: none;}
.caption {font-size:12px;}
.caption span {opacity: 0.5; }
.caption-container {text-align: center;}
.caption-container .caption span {visibility: hidden;display: block;width:0;height:0;}

.loading { text-align: center }
.loading i { font-size:5em; }

.portfolio-item .item {
	
	margin: 3px;
	padding: 3px;
	height: 250px;
	min-width: 200px;
}

.portfolio-item .description {
	text-align: center;
}



.portfolio-item a {
	display: block;
	width:200px;
	height:200px;
	margin: auto;
}

.portfolio-item img {
	display: block;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
