/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/


#gallery img { height: 200px; margin: 5px;}
#captions {display: none;}
.caption {font-size:12px;}
.caption span {opacity: 0.5; }
.caption-container {text-align: center;}
.caption-container .caption span {visibility: hidden;display: block;width:0;height:0;}

.loading { text-align: center }
.loading i { font-size:5em; }

.portfolio-item .item {	
	margin: 3px;
	padding: 3px;
	height: 250px;
	width: 200px;
}

.portfolio-item .description {
	text-align: center;
}

.portfolio-item a {
	width:200px;
	height:200px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.portfolio-item img {
	display: inline-block;
}

#intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  height: 250px;
  mix-blend-mode: multiply; 
}
#intro-header .site-heading { margin-top: 150px; }
#intro-header #signature { 
	background-image: url('/img/vito.png'); 
 	mix-blend-mode: hard-light; 
	height: 76px; 
	width:101px;
}

