---
layout: default
---


{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}



    <div id="gallery">
    {% for image in gallery.images %}
      <a href="{{ gallery.imagefolder }}/{{ image.id }}.jpg" data-sub-html="#caption{{image.id}}"><img 
      	src="{{ gallery.imagefolder }}/thumb/{{ image.id }}.jpg"  /></a>
    {% endfor %}
    </div>

  	<div id="captions"> 
    {% for image in gallery.images %}
	      <div id="caption{{ image.id }}" >
		      <p>
		      #{{image.id}}
		      {% if image.title %}{{ image.title }}{% endif %}
		      {% if image.medium %}
		      	{{ image.medium }}
		      {% endif %}
		      {% if image.width %}
		      	{{ image.width }}cm x {{ image.height }}cm
		      	{% if image.framed %}(inc. frame){% endif %}
		      {% endif %}
		      {% if image.year %}
		        {{ image.year }}
		      {% endif %}
		      </p>
	      </div>
    {% endfor %}
    </div>


  {% endif %}
{% endfor %}


